body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {

    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
input {
    width: 80%;
    accent-color: rgb(19, 217, 243);
    border: none;
}

.colored {
    background-color: #eee;
    height: 363px;
    border-bottom-left-radius: 153px;
}

.container {
    position: absolute;
    left: 25%;
    width: 45%;
    top: 10%;
}
.content {
    background-color: white;
    box-shadow: 2px 3px 1px #ede5e5;
    padding: 20px;

}

.head {
    font-size: 0.7rem;
    text-transform: capitalize;
    text-align: center;
}

.head p {
    color: gray;
}
.price,.info {
    display: flex;
    justify-content: space-around;
    font-size: 0.9rem;
    text-transform: capitalize;
    color: gray;
    align-items: center;
}

.info {
    margin-bottom: 20px;
}

.mony {
    font-size: 1.2rem;
    color: #232250;
    font-weight: bold;
}

.mony span {
    color: gray;
    font-size: 0.6rem;
}

.option {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.6rem;
    gap: 6px;
    text-transform: capitalize;
    margin: 0 0 20px 0;
}

.discount {
    background-color: pink;
    text-align: center;
    color: red;
    border-radius: 10px;
    padding: 5px;
}

ol {
    list-style: inside;
}

li::marker {
    color:green;
}
button {
    border: none;
    height: 36px;
    border-radius: 10px;
    width: 100px;
    text-transform: capitalize;
    background-color: #1e1e4d;
    color: white;
    font-weight: bold;

}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  @media screen and (max-width:800px) {
.container {
    width: 100%;
    top:7%;
    left: 0;
}

    .info {
        flex-direction: column;
    }
   .content {
    width: 80%;
    margin: auto;
   } 

   .option {
    gap: 0;
   }
  }